@model List<MLP.Models.Course>
    <div class="col-md-9">
        <div class="row" data-toggle="isotope">
            @foreach (var item in Model)
            {
                <div class="item col-xs-12 col-sm-6 col-lg-4">
                    <div class="panel panel-default paper-shadow" data-z="0.5">
                        <div class="cover overlay cover-image-full hover">
                            <span class="img icon-block height-150 bg-default"></span>
                            <a href="website-course.html" class="padding-none overlay overlay-full icon-block bg-default">
                                <span class="v-center">
                                    <i class="fa fa-github"></i>
                                </span>
                            </a>
                            <a href="website-course.html" class="overlay overlay-full overlay-hover overlay-bg-white">
                                <span class="v-center">
                                    <span class="btn btn-circle btn-white btn-lg"><i class="fa fa-graduation-cap"></i></span>
                                </span>
                            </a>
                        </div>
                        <div class="panel-body">
                            <h4 class="text-headline margin-v-0-10"><a href="website-course.html">@item.Title</a></h4>
                            <p class="small margin-none">
                                <span class="fa fa-fw fa-star text-yellow-800"></span>
                                <span class="fa fa-fw fa-star text-yellow-800"></span>
                                <span class="fa fa-fw fa-star text-yellow-800"></span>
                                <span class="fa fa-fw fa-star-o text-yellow-800"></span>
                                <span class="fa fa-fw fa-star-o text-yellow-800"></span>
                            </p>
                        </div>
                        <hr class="margin-none" />
                        <div class="panel-body">
                            <p>@item.Description</p>
                            <div class="media v-middle">
                                <div class="media-left">
                                    <img src="images/people/50/guy-1.jpg" alt="People" class="img-circle width-40" />
                                </div>
                                <div class="media-body">
                                    <h4>
                                        <a href="#">@item.OutComes</a>
                                        <br />
                                    </h4>
                                    Instructor
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            }
        </div>
        <ul class="pagination margin-top-none">
            <li class="disabled"><a href="#">&laquo;</a></li>
            <li class="active"><a href="#">1</a></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">&raquo;</a></li>
        </ul>
        <br />
        <br />
    </div>
