@model List<MLP.Models.CategoryCourse>
@{
    int counter = 0;
}
    <div class="panel panel-default" data-toggle="panel-collapse" data-open="true">
        <div class="panel-heading panel-collapse-trigger">
            <h4 class="panel-title">Category</h4>
        </div>
        <div class="panel-body list-group">
            <ul class="list-group">
                @foreach (var item in Model)
                {
                    if (counter == 0)
                    {
                        <li class="list-group-item active">
                        <span class="badge pull-right">120+</span>
                        <a class="sideBarMenu list-group-link" href="#" data-id="@item.CategoryCourseId">@item.CategoryCourseName</a>
                    </li>
                        counter++;
                    }
                    else { 
                    <li class="list-group-item">
                        <span class="badge pull-right">120+</span>
                        <a class="sideBarMenu list-group-link" href="#" data-id="@item.CategoryCourseId">@item.CategoryCourseName</a>
                    </li>
                    }
                }
            </ul>
        </div>
    </div>
